ul {
  background-color: #f3caca;
  list-style-type: none;
  height: 50px;
  text-align: center;
  font-size: 18px;
  line-height: 50px;
  li {
    display: inline;
    padding: 20px;
    a {
      color: #000000;
      text-decoration: none;
      padding: 10px;
    }
    a:hover {
      background-color: #f6acbc;
      height: 50px;
      color: #000000;
      text-decoration:  underline;
      text-underline-offset: 8px;
    }
  }
}
