<!-- angular官方文件 -->
<!-- <label for="name">Name：</label>
<input id="name" type="text" [formControl]="name" />
<p>Value：{{ name.value }}</p>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label for="first-name">First Name：</label>
  <input id="first-name" type="text"  formControlName="firstName"/>
  <br>
  <label for="last-name">Last Name：</label>
  <input id="last-name" type="text" formControlName="lastName">
</form>
<div formGroupName="address">
  <h2>Address</h2>

  <label for="street">Street: </label>
  <input id="street" type="text" formControlName="street">
<br>
  <label for="city">City: </label>
  <input id="city" type="text" formControlName="city">
<br>
  <label for="state">State: </label>
  <input id="state" type="text" formControlName="state">
<br>
  <label for="zip">Zip Code: </label>
  <input id="zip" type="text" formControlName="zip">
</div>
<div formArrayName="aliases">
  <h2>Aliases</h2>
  <button type="button" (click)="addAlias()">+ Add another alias</button>
  <div *ngFor="let alias of aliases.controls; let i = index">
    <label for="alias-{{i}}">Alias</label>
    <input id="alias-{{i}}" type="text" [formControlName]="i">
  </div>
</div>
<p>Complete the form to enable button</p>
<button type="submit" [disabled]="!profileForm.valid">Submit</button> -->
<!-- Angular 官方文件 -->

<!-- <form [formGroup]="invalid">
  <p>
    <label for="account">帳號：</label>
    <input
      type="text"
      name="account"
      id="account"
      formControlName="account"
      required
      minlength="4"
      [(ngModel)]="account"
      #account = "ngModel"
    />
  </p>
  <div *ngIf="account.invalid && (account.dirty || account.touched)">
    <div *ngIf="account.errors?.['required']">姓名必填</div>
    <div *ngIf="account.errors?.['minlength']">至少2位</div>
    <div *ngIf="account.errors?.['maxl']"></div>
  </div>
  <p>
    <label for="password">密碼：</label>
    <input
      type="password"
      name="password"
      id="password"
      formControlName="password"
    />
  </p>
  <p>
    <button type="submit">登入</button>
  </p>
  <input type="text" id="name" />
</form> -->
<!-- <label>
  <input type="account" formControlName="name" pInputText>
  <small *ngIf="!invalidForm.controls.account.pristine && invalidForm.controls.account.errors?.['required']">填寫帳號</small>
</label> -->

<!-- <form #form="ngForm">
  <p>
    <label for="account">帳號：</label>
    <input
      type="email"
      name="account"
      id="account"
      [(ngModel)]="account"
      placeholder="請輸入帳號"
      required
      #account
    />
  </p>
  <div *ngIf="account">
    <p *ngIf="account.errors?.['required']">請輸入帳號</p>
    <p *ngIf="account.errors?.['pattern']">帳號格式錯誤</p>
  </div>
  <p>
    <label for="password">密碼：</label>
    <input
      type="password"
      name="password"
      id="password"
      [(ngModel)]="password"
      placeholder=""
    />
  </p>
  <p>
    <button type="submit">登入</button>
  </p>
</form>

<pre>{{ form.value | json }}</pre> -->
<div class="container">
  <form>
    <mat-form-field>
      <mat-label>帳號</mat-label>
      <input
        type="email"
        matInput
        [formControl]="email"
        placeholder="輸入信箱"
      />
      <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
        格式錯誤
      </mat-error>
      <mat-error *ngIf="email.hasError('required')"> 信箱必填 </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>密碼</mat-label>
      <input
        type="password"
        matInput
        [formControl]="password"
        placeholder="輸入密碼"
      />
      <mat-error
        *ngIf="password.hasError('password') && !password.hasError('minLength')"
        >少於5字元</mat-error
      >
      <mat-error
        *ngIf="password.hasError('password') && !password.hasError('maxLength')"
        >多於10字元</mat-error
      >
      <mat-error *ngIf="password.hasError('required')">密碼必填</mat-error>
    </mat-form-field>
    <br />
    <button mat-button>登入</button>
  </form>
</div>
