<table>
  <thead>
    <tr>
      <th>活動名稱</th>
      <th>時間</th>
      <th>場地名稱</th>
    </tr>
  </thead>
  <tbody
    *ngFor="
      let musicshow of musicShow
        | paginate : { itemsPerPage: 20, currentPage: p }
    "
  >
    <ng-container *ngFor="let showInfo of musicshow.showInfo">
      <tr>
        <td>{{ musicshow.title }}</td>
        <td>{{ musicshow.startDate }}~{{ musicshow.endDate }}</td>
        <td>{{ showInfo.locationName }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
<pagination-controls
  class="ngx-pagination"
  (pageChange)="p = $event"
  previousLabel="上一頁"
  nextLabel="下一頁"
></pagination-controls>
