<div class="container">
  <div class="container-img">
    <img
      class="img"
      src="../../../assets/images/LINE_ALBUM_藝術活動_230530_4.jpg"
    />
  </div>

  <div class="txt">
    <h1>展覽</h1>
    <p>
      「藝文活動」，廣義來說，大凡與藝術、文化有關的一切活動均屬之。本項統計僅狹義的指「在某一特定時間內，開放給民眾自由參
      與或觀賞，且主要以展出或演出方式為之的文化活動」，並分為視覺藝術、工藝、設計、音樂、
      戲劇、舞蹈、說唱、影片、民俗、 語文、圖書、其他、綜藝。
    </p>
    <button mat-stroked-button color="primary" routerLink="/exhibition">
      More
      <p class="material-icons">navigate_next</p>
    </button>
  </div>
</div>
<div class="container">
  <div class="container-img">
    <img
      class="img"
      src="../../../assets/images/音樂表演.jpg"
    />
  </div>

  <div class="txt">
    <h1>音樂表演</h1>
    <p>
      「藝文活動」，廣義來說，大凡與藝術、文化有關的一切活動均屬之。本項統計僅狹義的指「在某一特定時間內，開放給民眾自由參
      與或觀賞，且主要以展出或演出方式為之的文化活動」，並分為視覺藝術、工藝、設計、音樂、
      戲劇、舞蹈、說唱、影片、民俗、 語文、圖書、其他、綜藝。
    </p>
    <button mat-stroked-button color="primary" routerLink="/music">
      More
      <p class="material-icons">navigate_next</p>
    </button>
  </div>
</div>
